body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    resize: none;
    color: #000000;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    display: block;
    background-color: rgb(175, 216, 241);
    color: black;
    border-radius: 0;
    border-bottom: 10px solid  rgb(104, 102, 102);;
  }
  
  .description{
    white-space: pre-wrap;
  }

  #currentDay {
    margin-bottom: 0;
    margin-top: 16px;

  }
  
  .container {
    text-align: center;
    margin-left: 230px;
  }

  .row {
    white-space: pre-wrap;
    height: 90px;
    border-top: 1px solid white;;
  }

  .final-column {
    padding: 0px;
    width: 80px;
    height: 88px;
    position: relative;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed rgb(104, 102, 102);;
    text-align: center;
    margin: 0;
    padding: 0px;
    width: 80px;
    height: 88px;
  }

  .time-block{
    text-align: center;
    border-radius: 15px;
    padding: 0px;
    width: 700px;
    height: 88px;
    position: relative;
  }
  
  .text-area {
    border: none;
    background-color: lightgrey;
    width: 700px;
    height: 88px;
    margin: 0;
    padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
  } 
  
  .past {
    background-color: #c895cf;
    color: white;
    width: 700px;
    height: 88px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .present {
    background-color: #ec9968;
    color: white;
    width: 700px;
    height: 88px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
    width: 700px;
    height: 88px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .saveBtn {
    border: 1px solid rgb(104, 102, 102);;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(175, 216, 241);
    color: black;
    margin: 0;
    padding: 0px;
    width: 80px;
    height: 88px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  .clearBtn {
    padding: 20px;
    margin: 20px;
    width: 400px;
    background-color: #c895cf;
    color: white;
    border: none;
  }

  